@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("./scss-fonts/ico-moon/paper-plane/icomoon.eot?hjy7ao");
  src: url("./scss-fonts/ico-moon/paper-plane/icomoon.eot?hjy7ao#iefix") format("embedded-opentype"), url("./scss-fonts/ico-moon/paper-plane/icomoon.ttf?hjy7ao") format("truetype"), url("./scss-fonts/ico-moon/paper-plane/icomoon.woff?hjy7ao") format("woff"), url("./scss-fonts/ico-moon/paper-plane/icomoon.svg?hjy7ao#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-plane-o:before {
  content: "\e900";
}

@font-face {
  font-family: "icomoon";
  src: url("./scss-fonts/ico-moon/file-o/icomoon.eot?u04hwg");
  src: url("./scss-fonts/ico-moon/file-o/icomoon.eot?u04hwg#iefix") format("embedded-opentype"), url("./scss-fonts/ico-moon/file-o/icomoon.ttf?u04hwg") format("truetype"), url("./scss-fonts/ico-moon/file-o/icomoon.woff?u04hwg") format("woff"), url("./scss-fonts/ico-moon/file-o/icomoon.svg?u04hwg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-o:before {
  content: "\e905";
}

div.main-container button.loginToggleButton {
  cursor: pointer;
  width: 100px;
  height: 30px;
  background-color: #00b3b3;
  color: azure;
  font-weight: 600;
  border: none;
  outline: none;
  transition: 0.5s;
}
div.main-container button.loginToggleButton:hover {
  background-color: teal;
}
div.main-container form#login-form {
  width: 100%;
  margin-top: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.main-container form#login-form input {
  box-sizing: border-box;
  padding: 5px 10px;
  width: 200px;
  height: 40px;
  display: block;
  margin: 10px 0;
  border: none;
  outline: none;
  transition: 0.5s;
}
div.main-container ul#login-error-messages-container {
  background-color: hsl(348, 100%, 61%);
  width: 130px;
  margin: 20px auto;
  padding: 10px 30px;
  list-style-type: none;
  list-style-position: outside;
}
div.main-container ul#login-error-messages-container li {
  color: azure;
  margin-bottom: 10px;
}
div.main-container div.mailboxes-container {
  width: 100%;
  height: 100%;
  margin: 5px;
  margin-bottom: 150px;
  flex-direction: column;
  gap: 10%;
}
@media (min-width: 1220px) {
  div.main-container div.mailboxes-container {
    flex-direction: row;
  }
}
div.main-container div.mailboxes-container div.mailboxes {
  width: 80%;
  margin: auto;
  transition: 0.5s;
}
div.main-container div.mailboxes-container div.mailboxes ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}
div.main-container div.mailboxes-container div.mailboxes ul li {
  box-sizing: border-box;
  flex-grow: 1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
  transition: 0.5s;
  cursor: pointer;
}
div.main-container div.mailboxes-container div.mailboxes ul li:hover {
  color: #57ffff;
}
div.main-container div.mailboxes-container div.mailboxes ul li#compose:hover {
  background-color: azure !important;
}
div.main-container div.mailboxes-container div.mailboxes ul li#compose span.pencil {
  color: hsl(0, 0%, 14%);
}
div.main-container div.mailboxes-container div.mailboxes ul li#bin {
  font-size: 1.5rem;
  font-weight: 600;
}
div.main-container div.mailboxes-container div.mailboxes ul li#bin::after {
  content: "🗑";
  color: #b0b0b0;
}
@media (min-width: 1220px) {
  div.main-container div.mailboxes-container div.mailboxes {
    width: 10%;
    margin: 0;
  }
  div.main-container div.mailboxes-container div.mailboxes ul {
    flex-direction: column;
  }
  div.main-container div.mailboxes-container div.mailboxes ul li {
    font-size: 1rem;
    font-weight: 600;
  }
}
div.main-container div.mailboxes-container div.emails-container {
  width: 60%;
  margin: 0 auto;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose .form-control {
  width: 80%;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 10px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose .form-control:first-child {
  margin-top: 30px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose .form-control.text-area {
  font-weight: normal;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose .form-control:focus {
  background-color: #f0f0f0;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose input {
  height: 30px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose textarea {
  flex-grow: 1;
  resize: vertical;
  min-height: 150px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button {
  width: 100%;
  height: 50px;
  background-color: hsl(0, 0%, 14%);
  border: none;
  outline: none;
  color: azure;
  font-weight: 400;
  font-size: 0.9rem;
  transition: 0.5s;
  border-radius: 20px;
  cursor: pointer;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button.send-email {
  background-color: #04AA6D;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button.send-email:hover {
  background-color: #03784d;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button:hover {
  transform: scale(1.1);
  color: white;
  background-color: #303030;
}
div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button span.icon-paper-plane-o, div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button span.icon-file-o {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  div.main-container div.mailboxes-container div.emails-container form#emails-compose div.submit-button-contaier button {
    width: 40%;
  }
}
div.main-container div.mailboxes-container div.emails-container ul.emails {
  display: none;
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
  margin-top: 100px;
}
div.main-container div.mailboxes-container div.emails-container ul.emails li {
  color: azure;
  font-weight: normal;
  font-size: 0.9rem;
  border-bottom: solid #007171 1px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  transition: 0.5s;
  cursor: pointer;
}
div.main-container div.mailboxes-container div.emails-container ul.emails li:hover {
  color: darkgray;
}
div.main-container div.mailboxes-container div.emails-container ul.emails li span.delete-icon, div.main-container div.mailboxes-container div.emails-container ul.emails li span.binned-delete-icon {
  font-size: 1.5rem;
  cursor: pointer;
}
div.main-container div.mailboxes-container div.emails-container ul.emails li span.delete-icon::after, div.main-container div.mailboxes-container div.emails-container ul.emails li span.binned-delete-icon::after {
  content: "🗑";
  color: hsl(348, 100%, 61%);
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox li.inbox-email table tr td, div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin li.inbox-email table tr td {
  padding-left: 10px;
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox li.inbox-email table tr td.lowercase, div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin li.inbox-email table tr td.lowercase {
  text-transform: lowercase;
  font-size: 1rem;
  font-weight: 600;
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox li.inbox-email table tr td.subject, div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin li.inbox-email table tr td.subject {
  text-transform: lowercase;
  color: darkgrey;
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox li.inbox-email table tr td:not(.subject), div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin li.inbox-email table tr td:not(.subject) {
  color: azure;
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox li.inbox-email table tr td:first-child, div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin li.inbox-email table tr td:first-child {
  padding: 10px 30px 0 5px;
  background-color: #57ffff;
  color: hsl(0, 0%, 14%);
  text-transform: capitalize;
  font-weight: 600;
}
div.main-container div.mailboxes-container div.emails-container ul.emails#emails-inbox span.delete-draft, div.main-container div.mailboxes-container div.emails-container ul.emails#emails-bin span.delete-draft {
  background-color: black;
  padding: 0 5px;
  border: solid #57ffff 0;
  border-radius: 20%;
}
@media (min-width: 1220px) {
  div.main-container div.mailboxes-container div.emails-container {
    margin: 0 auto 0 0;
  }
}
div.main-container div.mailboxes-container button.logoutButton {
  position: fixed;
  bottom: 5px;
  right: calc(50% - 50px);
  background-color: hsl(348, 100%, 61%);
  opacity: 0.5;
  transition: 0.5s;
  transform: rotateX(55deg);
}
div.main-container div.mailboxes-container button.logoutButton:hover {
  background-color: #ff0537;
  opacity: 1;
  transform: rotateX(0deg);
}
@media (min-width: 1220px) {
  div.main-container div.mailboxes-container button.logoutButton {
    top: 10px;
    right: 10px;
  }
}

/*# sourceMappingURL=App.css.map */
